@{
    ViewBag.Title = "Operator";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}
@Styles.Render("~/AdminLTE/plugins/datatables/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<div id="MainForm">
    <div id="tablegrid">
        @Html.Partial("_SimpleGrid")
    </div>
</div>
    
<div id="DetailForm" class="hidden">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-body">
                    <h3 id="title_form"></h3>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input id="form_id" class="hidden" />
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">Photo</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_photo" type="file" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">Nama</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">Email</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_email" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">No. Telpon</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_no_telpon" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">Password</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_password" type="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label text-muted" style="text-align:left;">Re type password</label>
                            <label class="col-md-1 control-label text-muted ">:</label>
                            <div class="col-md-5">
                                <input id="form_re_type_password" type="password" class="form-control"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-5">
                                <button id="btnSave" type="button" class="btn btn-warning" onclick="return Save()"><span class="bold fa fa-save">&nbsp;&nbsp;Save</span></button>&nbsp;
                                <button type="button" class="btn btn-default" onclick="return InitialConditions()"><span class="bold fa fa-angle-left">&nbsp;&nbsp;Back To List</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeletePopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content  panel panel-warning">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Delete Operator</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input id="popup_id" class="hidden" />
                        <label class="col-md-3 control-label text-muted" style="text-align:left;">Nama</label>
                        <label class="col-md-1 control-label text-muted ">:</label>
                        <label id="popup_nama" class="col-md-8 control-label text-muted " style="text-align:left;"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted" style="text-align:left;">Email</label>
                        <label class="col-md-1 control-label text-muted ">:</label>
                        <label id="popup_email" class="col-md-8 control-label text-muted " style="text-align:left;"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-muted" style="text-align:left;">No telpon</label>
                        <label class="col-md-1 control-label text-muted ">:</label>
                        <label id="popup_no_telpon" class="col-md-8 control-label text-muted " style="text-align:left;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="return Delete()"><span class="bold fa fa-times-circle">&nbsp;&nbsp;Delete</span></button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bold fa fa-times">&nbsp;&nbsp;Cancel</span></button>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/AdminLTE/plugins/datatables/js")
        @Scripts.Render("~/AdminLTE/plugins/select2/js")
        <script src="~/Scripts/toastr.min.js"></script>
        <script>
            $(document).ready(function () {
                DataTable();
            })

            toastr.options = {
                "positionClass": "toast-bottom-right",
                "timeOut": "3000"
            }

            function DataTable() {
                $('#table').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false
                });
            }

            function InitialConditions() {
                $("#MainForm").removeClass("hidden");
                $("#DetailForm").addClass("hidden");
            }

            function FormAdd() {
                $("#form_id").val("");
                $("#form_photo").val("");
                $("#form_name").val("");
                $("#form_email").val("");
                $("#form_no_telpon").val("");
                $("#form_password").val("");
                $("#form_re_type_password").val("");
                $("#form_operator_name").val("");
                $("#title_form").html("Add Operator");
                $("#MainForm").addClass("hidden");
                $("#DetailForm").removeClass("hidden");
            }

            function FormEdit(data) {
                var Id = data.closest("tr").find("#grid_id_member").val();
                var Nama = data.closest("tr").find("#grid_nama").text();
                var Email = data.closest("tr").find("#grid_email").text();
                var NoTelpon = data.closest("tr").find("#grid_no_telpon").text();
                $("#form_id").val(Id);
                $("#form_photo").val("");
                $("#form_name").val(Nama);
                $("#form_email").val(Email);
                $("#form_no_telpon").val(NoTelpon);
                $("#form_password").val("");
                $("#form_re_type_password").val("");
                $("#title_form").html("Edit Operator");
                $("#MainForm").addClass("hidden");
                $("#DetailForm").removeClass("hidden");
            }

            function DeletePopUp(data) {
                $("#DeletePopUp").modal({ backdrop: 'static' });
                var Id = data.closest("tr").find("#grid_id_member").val();
                var Nama = data.closest("tr").find("#grid_nama").text();
                var Email = data.closest("tr").find("#grid_email").text();
                var NoTelpon = data.closest("tr").find("#grid_no_telpon").text();
                $("#popup_id").val(Id)
                $("#popup_nama").text(Nama);
                $("#popup_email").text(Email);
                $("#popup_no_telpon").text(NoTelpon);
            }

            function Save() {
                var Id = $("#form_id").val();
                var Photo = $("#form_photo").val();
                var Nama = $("#form_name").val();
                var Email = $("#form_email").val();
                var NoTelpn = $("#form_no_telpon").val();
                var Password = $("#form_password").val();
                var ReTypePassword = $("#form_re_type_password").val();
                if (Password != ReTypePassword) {
                    toastr.warning("Password tidak sama")
                    $("#form_password").focus();
                    $("#form_password").val("");
                    $("#form_re_type_password").val("");
                }
                else {
                    if (Id == "") {
                        var url = "@Url.Action("Create","Member")";
                    }
                    else {
                        var url = "@Url.Action("Edit", "Member")";
                    }
                    var model = { IdOperator: Id, NamaOperator: Nama };//Field disi sesuail model
                    $.post(url, model, function (result) {
                        if (result == "" || result == false) {
                            toastr.warning("Data Error.")
                        }
                        else {
                            $("#tablegrid").html(result);
                            toastr.success("Save data successfully.")
                            InitialConditions();
                            return DataTable();
                        }
                    });
                }
            }

            function Delete() {
                var Id = $("#popup_id").val();
                var url = "@Url.Action("Delete","Member")";
                var model = { IdOperator: Id };//Field disi sesuail model
                $.post(url, model, function (result) {
                    if (result == "" || result == false) {
                        toastr.warning("Data Error.")
                    }
                    else {
                        $("#tablegrid").html(result);
                        InitialConditions();
                        toastr.warning("Data Error.")
                        $("#DeletePopUp").modal('hide');
                        return DataTable();
                    }
                });
            }

        </script>
    }
