
@{
    ViewBag.Title = "Operator";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
<link href="~/content/toastr.min.css" rel="stylesheet" />

<div id="tablegrid">
    @Html.Partial("_SimpleGrid")
</div>

<div class="modal fade" id="AddPopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content  panel panel-warning">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Create New Operator</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-4 control-label text-muted" style="text-align:left;">Name</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <div class="col-sm-8 col-md-7">
                            <input id="add_name" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return Create()"><span class="bold fa fa-plus">&nbsp;&nbsp;Create</span></button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bold fa fa-times">&nbsp;&nbsp;Cancel</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content  panel panel-warning">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Edit Operator</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input id="edit_id" class="hidden" />
                        <label class="col-sm-3 col-md-4 control-label text-muted" style="text-align:left;">Name</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <div class="col-sm-8 col-md-7">
                            <input id="edit_name" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return Edit()"><span class="bold fa fa-save">&nbsp;&nbsp;Update</span></button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bold fa fa-times">&nbsp;&nbsp;Cancel</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeletePopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content  panel panel-warning">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Delete Operator</h2>
            </div>
            <div class="modal-body">
                <h3 style="color:red;margin-top:-7px;">Are you sure you want to delete this?</h3>
                <div class="form-horizontal">
                    <div class="form-group">
                        <input id="delete_id" class="hidden" />
                        <label class="col-sm-3 col-md-4 control-label text-muted" style="text-align:left;">Name</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <label id="delete_name" class="col-sm-8 col-md-7 control-label text-muted" style="text-align:left;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="return Delete()"><span class="bold fa fa-trash">&nbsp;&nbsp;Delete</span></button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="bold fa fa-times">&nbsp;&nbsp;Cancel</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @*<script src="~/Scripts/toastr.min.js"></script>*@
    <script>
        $(document).ready(function () {
            DataTable();
        })

        //toastr.options = {
        //    "positionClass": "toast-bottom-right",
        //    "timeOut": "5000"
        //}

        function DataTable() {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        }

        function AddPopUp() {
            $("#AddPopUp").modal({ backdrop: 'static' });
            $("#add_name").val("");
        }

        function EditPopUp(data) {
            $("#EditPopUp").modal({ backdrop: 'static' });
            var Id = data.closest("tr").find("._id").val();
            var Name = data.closest("tr").find("._name").text();
            $("#edit_id").val(Id);
            $("#edit_name").val(Name);
        }

        function DeletePopUp(data) {
            $("#DeletePopUp").modal({ backdrop: 'static' });
            var Id = data.closest("tr").find("._id").val();
            var Name = data.closest("tr").find("._name").text();
            $("#delete_id").val(Id);
            $("#delete_name").text(Name);
        }

        function Create() {
            var Name = $("#add_name").val();
            if (Name == "") {
                //toastr.warning('Name canot be empty.')
                $("#add_name").focus();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddOperator", "Operator")',
                    data: {
                        Name: Name
                    },
                    complete: function (result) {
                        $("#tablegrid").html(result.responseText);
                        //toastr.success('Create level success.')
                        $("#AddPopUp").modal('hide');
                        return DataTable();
                    },
                });

            }
        }

        function Edit() {
            var Id = $("#edit_id").val();
            var Name = $("#edit_name").val();
            if (Id == "") {
                //toastr.warning('No data to edit.')
                $("#EditPopUp").modal('hide');
            }
            else if (Name == "") {
                //toastr.warning('Name canot be empty.')
                $("#add_name").focus();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditOperator", "Operator")',
                    data: {
                        Id: Id,
                        Name: Name
                    },
                    complete: function (result) {
                        $("#tablegrid").html(result.responseText);
                        //toastr.success('Edit level success.')
                        $("#EditPopUp").modal('hide');
                        return DataTable();
                    },
                });

            }
        }

        function Delete() {
            var Id = $("#delete_id").val();
            if (Id == "") {
                //toastr.warning('No data to delete.')
                $("#DeletePopUp").modal('hide');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteOperator", "Operator")',
                    data: {
                        Id: Id
                    },
                    complete: function (result) {
                        $("#tablegrid").html(result.responseText);
                        //toastr.success('Delete level success.')
                        $("#DeletePopUp").modal('hide');
                        return DataTable();
                    },
                });

            }
        }

    </script>
}